appdirs==1.4.4
kagglehub==0.3.12
matplotlib==3.10.1
numpy==2.2.5
omegaconf==2.3.0
pandas==2.2.3
Pillow==11.2.1
PyYAML==6.0.2
robustbench==1.1
seaborn==0.13.2
setuptools==75.8.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
